name: gh-pages

on:
  push:
    branches:
      - master

env:
  MDBOOK: "0.4.15"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: copy
        run: |
          cp LICENSE.txt website

      - name: Install mdbook
        run: curl -L https://github.com/rust-lang/mdBook/releases/download/v$MDBOOK/mdbook-v$MDBOOK-x86_64-unknown-linux-gnu.tar.gz | tar xz -C ~/.cargo/bin
      - name: Build book
        run: mdbook build -d website/docs

      - name: Deploy gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website
          cname: re.cleo.li
